<app-header></app-header>
 <div class="h"><h1 *ngIf="!isResultLoaded">Loading.................</h1>
    <h1>List Of Students</h1>
    <div class="container">
        
        
        <div class="table">
            <div class="table-header">
                <div class="header__item"><th class="filter__link" >id</th></div>
                <div class="header__item"><th class="filter__link" >full Name</th></div>
                <div class="header__item"><th class="filter__link" >phone number</th></div>
                <div class="header__item"><th class="filter__link" >gender</th></div>
                <div class="header__item"><th class="filter__link" >age</th></div>
                <div class="header__item"><th class="filter__link" >nni</th></div>
                <div class="header__item"><th class="filter__link" >option</th></div>
            </div>
            <div class="table-content" *ngFor="let student of StudentArray; let i=index">	
                <div class="table-row">		
                    <div class="table-data">{{i.toString().padStart(6,'0')}}</div>
                    <div class="table-data">{{student.fullName}}</div>
                    <div class="table-data">{{student.numero}}</div>
                    <div class="table-data">{{student.gender}}</div>
                    <div class="table-data">{{student.age}}</div>
                    <div class="table-data">{{student.nni}}</div>
                    <div class="table-data">
                        
                            <button class="button-70" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(student)">Edit</button>
                            <button class="button-71" (click)="deleteStudent(student)">Delite</button>
                          
                    </div>
                </div>
            </div>	
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          
            <div class="formbold-main-wrapper">
                <div class="formbold-form-wrapper">
                    <div class="h1"><h1>Student Information</h1></div>
                  <form>
                    <div class="formbold-mb-5">
                        <label  class="formbold-form-label"> Id </label>
                        <input
                        [(ngModel)]="studentToUpdate.id"
                          type="number"
                          name="id"
                          placeholder="ID"
                          class="formbold-form-input"
                          disabled
                        />
                      </div>
            
                    <div class="formbold-mb-5">
                      <label  class="formbold-form-label"> Full Name* </label>
                      <input
                      [(ngModel)]="studentToUpdate.fullName"
                        type="text"
                        name="fullName"
                        placeholder="Full Name"
                        class="formbold-form-input"
                        required
                      />
                    </div>
            
                    <div class="formbold-mb-5">
                      <label class="formbold-form-label"> Phone Number </label>
                      <input
                      [(ngModel)]="studentToUpdate.numero"
                      
                        type="number"
                        name="numero"
                        placeholder="Enter your phone number"
                        class="formbold-form-input"
                      />
                    </div>
                    
                    <div class="flex flex-wrap formbold--mx-3">
                        
                      <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5 w-full">
                          <label class="formbold-form-label"> Age </label>
                          <input
                          [(ngModel)]="studentToUpdate.age"
                          
                            type="number"
                            name="age"
                            placeholder="your age"
                            class="formbold-form-input"
                          />
                        </div>
                      </div>
            
                      <div>
                        <label>Gender*</label>
                        <div class="gender">
                           <input type="radio" name="Male" value="Male" [(ngModel)]="studentToUpdate.gender" required>
                          <label class="radio">Male</label>
                          <input type="radio" name="Fimale" value="Fimale" [(ngModel)]="studentToUpdate.gender" required >
                          <label class="radio">Female</label>
                        </div>
                      </div>
            
                    </div>
            
                    <div class="formbold-mb-5">
                        <label class="formbold-form-label"> NNI </label>
                        <input
                        [(ngModel)]="studentToUpdate.nni"
                          type="number"
                          name="NNI"
                          placeholder="Enter your national idendity number"
                          class="formbold-form-input"
                          
                        />
                      </div>
                    <div>
                      <button class="formbold-btn" data-bs-dismiss="modal" (click)=" updateStudent()">Update</button>
                    </div>
                  </form>
                </div>
              </div>
              

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
