<header>
    <nav>
    
      <div class="logo" >
        <a href="/profile">Logo</a>
      </div>
      <div class="menu-icon">
        <i class="fa fa-bars"></i>
      </div>
  
      <ul>
        <li><a href="/student">Student</a></li>
        <li><a href="/profile">Cours</a></li>
        <li><a href="/profile">Teachers</a></li>
        <li><a href="/profile">Levels</a></li>
        <li><a href="/profile">Session</a></li>
        <div class="Log-Out"><li><a href="#" class="Log">Log-Out</a></li></div>
      </ul>
    </nav>
  </header>
  
  